<mat-list class="mb-5 pb-5">
  <div fxLayout="row" fxLayoutAlign="start center">
    <div class="p-3">
      <img
        src="assets/Dhaka Record Logo_F 1.png"
        alt=""
        width="30"
        height="30"
      />
    </div>
    <div class="p-3">
      <span class="title">Dhaka Record</span>
    </div>
  </div>
  <mat-nav-list>
    <a mat-list-item class="sidemenu_titles" routerLink="/"
      ><mat-icon class="icon_sidemenu">home</mat-icon>Home</a
    >
    <div>
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node
          (click)="database.goToMoodSongList(node)"
          *matTreeNodeDef="let node"
          matTreeNodePadding
        >
          <button mat-icon-button disabled></button>
          {{ node?.item }}
        </mat-tree-node>
        <mat-tree-node
          *matTreeNodeDef="let node; when: hasChild"
          matTreeNodePadding
        >
          <button
            mat-icon-button
            [attr.aria-label]="'Toggle ' + node?.item"
            matTreeNodeToggle
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{
                treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
              }}
            </mat-icon>
          </button>
          {{ node?.item }}
          <mat-progress-bar
            *ngIf="node.isLoading"
            mode="indeterminate"
            class="example-tree-progress-bar"
          ></mat-progress-bar>
        </mat-tree-node>
      </mat-tree>
    </div>
    <!-- <a mat-list-item class="sidemenu_titles"
            routerLink="/"><mat-icon class="icon_sidemenu">bar_chart</mat-icon>Favourite</a>
        <a mat-list-item class="sidemenu_titles"
            routerLink="/"><mat-icon class="icon_sidemenu">directions_bike</mat-icon>Playlist</a>
        <a mat-list-item class="sidemenu_titles"
            routerLink="/"><mat-icon class="icon_sidemenu">directions_bike</mat-icon>Recent</a>
        <a mat-list-item class="sidemenu_titles"
            routerLink="/"><mat-icon class="icon_sidemenu">bar_chart</mat-icon>Download</a>
        <a mat-list-item class="sidemenu_titles"
            routerLink="/"><mat-icon class="icon_sidemenu">directions_bike</mat-icon>Playlist</a>
        <a mat-list-item class="sidemenu_titles"
            routerLink="/"><mat-icon class="icon_sidemenu">directions_bike</mat-icon>Bangla</a>
        <a mat-list-item class="sidemenu_titles"
            routerLink="/"><mat-icon class="icon_sidemenu">bar_chart</mat-icon>English</a>
        <a mat-list-item class="sidemenu_titles"
            routerLink="/"><mat-icon class="icon_sidemenu">directions_bike</mat-icon>Hindi</a> -->
  </mat-nav-list>
</mat-list>
