<mat-toolbar
  fxHide
  fxShow.gt-sm
  style="background-color: #ffffff; border-bottom: 1px solid #eff4f6"
  class="card_header card_headers"
>
  <div fxLayout="row" style="width: 100%">
    <div
      fxFlex.xs="50"
      fxFlex.sm="50"
      fxFlex.md="50"
      fxFlex.lg="50"
      fxFlex.xl="50"
    >
      <div fxLayout="row" fxLayoutAlign="start center" class="pt-1">
        <!-- <div>
          <button mat-button class="btn_head" matPrefix>
            <img src="../../../assets/piano.png" alt="" class="img_pad" /><span
              >Karaoke</span
            >
          </button>
        </div>
        <div>
          <button mat-button class="btn_head" matPrefix>
            <img src="../../../assets/Vector.png" alt="" class="img_pad" /><span
              >Podcast</span
            >
          </button>
        </div> -->
      </div>
    </div>
    <div
      fxFlex.xs="50"
      fxFlex.sm="50"
      fxFlex.md="50"
      fxFlex.lg="50"
      fxFlex.xl="50"
    >
      <div fxLayout="row" fxLayoutAlign="end center">
        <div class="header_titles">
          <div fxLayout="column" fxLayoutAlign="start start">
            <div fxLayout="row" fxLayoutAlign="start center" class="pb-3">
              <div
                *ngIf="
                  userInfo?.subscription_status === Constants?.ACTIVESTRING
                "
                class="bord_pro"
              >
                <span class="pro_forn">Pro</span>
              </div>
              <div class="pb-1">
                <span class="head_title">Listining is Everything</span>
              </div>
            </div>
            <div
              style="position: absolute; padding-top: 20px; padding-left: 3px"
            >
              <span class="head_subtitle">Welcome {{ userInfo?.name }}</span>
            </div>
          </div>
        </div>
        <div class="profile_pic">
          <img src="{{ userInfo?.profile_pic }}" alt="" class="img_profile" />
        </div>
        <div>
          <button
            mat-icon-button
            aria-label="Example icon button with a vertical three dot icon"
            class="btn_icon"
            [matMenuTriggerFor]="menu"
          >
            <mat-icon>keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item>Edit Profile</button>
          </mat-menu>
        </div>
        <mat-divider vertical style="height: 40px"></mat-divider>
        <!-- <div>
          <button
            mat-icon-button
            aria-label="Example icon button with a vertical three dot icon"
            class="btn_icon"
          >
            <mat-icon>add_alert</mat-icon>
          </button>
        </div> -->
        <div>
          <button
            mat-icon-button
            aria-label="Example icon button with a vertical three dot icon"
            class="btn_icon"
            (click)="logout()"
          >
            <mat-icon class="head_icon">exit_to_app</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-toolbar
  fxHide.gt-sm
  fxShow
  style="background-color: #ffffff; border-bottom: 1px solid #eff4f6"
  class="card_header card_headers"
>
  <div fxLayout="row" style="width: 100%">
    <div
      fxFlex.xs="50"
      fxFlex.sm="50"
      fxFlex.md="50"
      fxFlex.lg="50"
      fxFlex.xl="50"
    >
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="profile_pic">
          <img src="{{ userInfo?.profile_pic }}" alt="" class="img_profile" />
        </div>
        <div class="header_titles">
          <div fxLayout="column" fxLayoutAlign="start start">
            <div fxLayout="row" fxLayoutAlign="start center" class="pb-3">
              <div class="p-1">
                <span class="head_title">Listining is Everything</span>
              </div>
              <div class="bord_pros" *ngIf="
              userInfo?.subscription_status === Constants?.ACTIVESTRING
              ">
                <span class="pro_forn">Pro</span>
              </div>
            </div>
            <div style="position: absolute; padding-top: 25px; padding-left: 3px;">
              <span class="head_subtitle">Welcome {{ userInfo?.name }}!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      fxFlex.xs="50"
      fxFlex.sm="50"
      fxFlex.md="50"
      fxFlex.lg="50"
      fxFlex.xl="50"
    >
      <div fxLayout="row" fxLayoutAlign="end center">
        <!-- <div>
          <button mat-icon-button>
            <img src="../../../assets/piano.png" alt="" class="img_pad" />
          </button>
        </div>
        <div>
          <button mat-icon-button matPrefix>
            <img src="../../../assets/disc.png" alt="" class="img_pad" />
          </button>
        </div> -->
        <button
        mat-icon-button
        aria-label="Example icon button with a vertical three dot icon"
        class="btn_icon"
        (click)="logout()"
      >
        <mat-icon>exit_to_app</mat-icon>
      </button>
      </div>
    </div>
  </div>
</mat-toolbar>
