<div>
  <div fxLayout="row wrap">
    <div fxHide fxShow.gt-sm fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40"
      class="background">
      <img src="assets/splaceImage.png" alt="" class="splaceSize" />
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="60" fxFlex.lg="60" fxFlex.xl="60" class="background">
      <div fxLayout="row" fxLayoutAlign="center center" class="pt-5">
        <div>
          <img src="assets/Dhaka Record Logo_F 2.png" alt="" />
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="pt-5">
        <div class="splace_dec">
          <span class="head_title">Welcome back! Glad to see you, Again!</span>
        </div>
      </div>
      <form class="exp-form" [formGroup]="signInForm" (ngSubmit)="onClickSubmit()">
        <div fxLayout="row" fxLayoutAlign="center center" class="pt-5">
          <mat-form-field class="example-form" appearance="outline">
            <input type="text" matInput placeholder="Enter your phone no" formControlName="phone" />
            <mat-error *ngIf="signInForm.controls['phone'].invalid">Invalid input</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="pt-3">
          <button mat-button class="splace_btn" type="submit">Continue</button>
        </div>
      </form>
      <div fxLayout="row" fxLayoutAlign="center center" class="pt-3 pb-4">
        <button mat-button class="splace_btn">Cancel</button>
      </div>
      <div fxLayout="row" fxLayoutAlign="center center" class="pt-5">
        <div class="splace_enddec">
          <span class="head_enddes">By continuing you are indicating that you agree to the Terms and
            Privacy Policy.</span>
        </div>
      </div>
    </div>
  </div>
</div>