<div class="mrgen_bton">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="p-3">
    <div>
      <span class="title"> {{ listType }} </span>
    </div>
  </div>
  <div fxLayout="row wrap">
    <div
      fxFlex.xs="50"
      *ngFor="let person of personList"
      fxFlex.sm="33"
      fxFlex.md="20"
      fxFlex.lg="12"
      fxFlex.xl="10"
      class="p-2"
      (click)="goToSongViewPage(person)"
    >
      <div fxLayout="column" fxLayoutAlign="center center" style="cursor: pointer;">
        <div class="pb-2">
          <img
            [src]="person?.img"
            alt=""
            width="100"
            height="100"
            class="img_rad"
          />
        </div>
        <div>
          <span class="sing_name">{{ person?.title }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
