.card_header {
    position: sticky;
    z-index: 1;
    background-color: #060A0B;
    bottom: 0rem;
    height: 60px;
    width: 100%;
    padding-bottom: 24px;
  }
  .btn_outer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn_icon{
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .btn_title{
      position: absolute;
      margin: -18px;  
     }
  }
  .btn_icon:hover{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    .btn_title{
      position: absolute;
      margin: -18px;  
     }
  }