.song_card{
    width: 315px;
    height: 330px;    
    background: #F4F8FB;
    border: 1px solid rgba(134, 144, 155, 0.1);
    border-radius: 8px;
    .card_name{
      font-family: 'Inter';
      font-weight: 700;
      font-size: 16px;
      color: #0D2238;
    }
    .card_play{
      font-family: 'Inter';
      font-weight: 400;
      font-size: 14px;
      color: #0D2238;
    }
    .rock_border{
      height: 65px;
      .img_song{
        width: 53px;
        height: 53px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .dec_song{
        width: 200px;
        height: 53px;
        margin-bottom: 5px;
        .song_title{
          font-weight: 600;
          font-size: 12px; 
          font-family: 'Inter';
          color: #0D2238;
        }
        .song_dec{
          font-weight: 400;
          font-size: 12px; 
          font-family: 'Inter';
          color: #86909B;        
        }
      }
      .more_song{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }