<div>
  <div fxLayout="row wrap">
    <div
      fxFlex.xs="100"
      fxFlex.sm="100"
      fxFlex.md="100"
      fxFlex.lg="100"
      fxFlex.xl="100"
      class="background"
    >
      <form
        class="exp-form"
        [formGroup]="ProfileForm"
        *ngIf="ProfileForm"
        (ngSubmit)="onClickSubmit()"
      >
        <div fxLayout="column" fxLayoutAlign="center center" class="pt-4">
          <div class="file-input-wrapper">
            <input
              type="file"
              class="rev-uplode"
              multiple="multiple"
              id="avatar"
              name="avatar"
              (change)="uploadFileEvt($event)"
              accept="image/*"
            />
          </div>
          <div class="account-icon-wid">
            <img
              [src]="
                dataimage
                  ? dataimage
                  : 'https://cdn.iconscout.com/icon/free/png-256/add-person-1780869-1514184.png'
              "
              width="100px"
              height="100px"
            />
          </div>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" class="pt-5">
          <mat-form-field class="example-form" appearance="outline">
            <input
              type="text"
              matInput
              placeholder="Name"
              formControlName="name"
            />
            <mat-error *ngIf="ProfileForm.controls['name'].invalid"
              >Invalid input</mat-error
            >
          </mat-form-field>
          <mat-form-field class="example-form" appearance="outline">
            <input
              type="text"
              matInput
              placeholder="Date of BIrth"
              formControlName="dateofbirth"
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
              style="height: 1em; margin-top: -2.2em"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="ProfileForm.controls['dateofbirth'].invalid"
              >Invalid input</mat-error
            >
          </mat-form-field>
          <mat-form-field class="example-form" appearance="outline">
            <mat-select placeholder="Gender" formControlName="gender">
              <mat-option value="male">Male</mat-option>
              <mat-option value="female">Female</mat-option>
            </mat-select>
            <mat-error *ngIf="ProfileForm.controls['gender'].invalid"
              >Invalid input</mat-error
            >
          </mat-form-field>
          <!-- <mat-form-field class="example-form" appearance="outline">
            <input
              type="text"
              matInput
              placeholder="Mobile"
              formControlName="phone"
            />
            <mat-error *ngIf="ProfileForm.controls['phone'].invalid"
              >Invalid input</mat-error
            >
          </mat-form-field>
          <mat-form-field class="example-form" appearance="outline">
            <input
              type="text"
              matInput
              placeholder="Country"
              formControlName="country"
            />
            <mat-error *ngIf="ProfileForm.controls['country'].invalid"
              >Invalid input</mat-error
            >
          </mat-form-field> -->
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="pt-2">
          <button mat-button class="splace_btn" type="submit">Continue</button>
        </div>
      </form>
      <div fxLayout="row" fxLayoutAlign="center center" class="pt-3">
        <div class="splace_enddec">
          <span class="head_enddes"
            >By continuing you are indicating that you agree to the Terms and
            Privacy Policy.</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
